<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ChangePasswordControllers</servlet-name>
        <servlet-class>controllers.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserProfile</servlet-name>
        <servlet-class>controllers.UpdateUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessAvatarSelection</servlet-name>
        <servlet-class>controllers.ProcessAvatarSelection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controllers.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherHomePageController</servlet-name>
        <servlet-class>controllers.TeacherHomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectList</servlet-name>
        <servlet-class>controllers.SubjectList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSubject</servlet-name>
        <servlet-class>controllers.SearchSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionList</servlet-name>
        <servlet-class>controllers.QuestionList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionServlet</servlet-name>
        <servlet-class>controllers.AddQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionController</servlet-name>
        <servlet-class>controllers.EditQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <servlet-class>controllers.DeleteQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChapterListController</servlet-name>
        <servlet-class>controllers.ChapterListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestList</servlet-name>
        <servlet-class>controllers.TestList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailQuestion</servlet-name>
        <servlet-class>controllers.DetailQuestions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubject</servlet-name>
        <servlet-class>controllers.AddSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubject</servlet-name>
        <servlet-class>controllers.DeleteSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>controllers.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentHomePageController</servlet-name>
        <servlet-class>controllers.StudentHomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomePageController</servlet-name>
        <servlet-class>controllers.AdminHomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserController</servlet-name>
        <servlet-class>controllers.AddUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controllers.HomeServlet</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>AddTestController</servlet-name>
        <servlet-class>controllers.AddTestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionService</servlet-name>
        <servlet-class>controllers.QuestionService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminHomePageController</servlet-name>
        <url-pattern>/adminhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserController</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordControllers</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProfile</servlet-name>
        <url-pattern>/Updateuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessAvatarSelection</servlet-name>
        <url-pattern>/ProcessAvatarSelection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherHomePageController</servlet-name>
        <url-pattern>/teacherhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectList</servlet-name>
        <url-pattern>/subject-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSubject</servlet-name>
        <url-pattern>/search-subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionList</servlet-name>
        <url-pattern>/questionlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionServlet</servlet-name>
        <url-pattern>/addquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestionController</servlet-name>
        <url-pattern>/editquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChapterListController</servlet-name>
        <url-pattern>/chapterlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestList</servlet-name>
        <url-pattern>/test-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailQuestion</servlet-name>
        <url-pattern>/detailquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubject</servlet-name>
        <url-pattern>/add-subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubject</servlet-name>
        <url-pattern>/delete-subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/delete-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTestController</servlet-name>
        <url-pattern>/addtest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionService</servlet-name>
        <url-pattern>/QuestionService</url-pattern>
    </servlet-mapping>
<!--    <session-config>
        <session-timeout>1000</session-timeout>
    </session-config>-->
</web-app>
