<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet-mapping>
        <servlet-name>AdminHomePageController</servlet-name>
        <url-pattern>/adminhome</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>TeacherHomePageController</servlet-name>
        <servlet-class>controllers.TeacherHomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomePageController</servlet-name>
        <servlet-class>controllers.AdminHomePageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeacherHomePageController</servlet-name>
        <url-pattern>/teacherhomepage</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controllers.SignUpController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateUserProfile</servlet-name>
        <servlet-class>controller.UpdateUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessAvatarSelection</servlet-name>
        <servlet-class>controller.ProcessAvatarSelection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
</web-app>

