 /* Common.css is a file containing some commonly used classes in jsp */
:root {
    --white-color: #fff;
    --primary-color: #a85cf9;
    --secondary-color: #f6f6f6;
    --success-color: #198754;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #0dcaf0;
    --dark-color: #212529;
    --primary-color-hover: #6732a1;
    --secondary-color-hover: #545b62;
    --success-color-hover: #146c43;
    --danger-color-hover: #b02a37;
    --warning-color-hover: #d8a106;
    --info-color-hover: #0ab0d6;
    --dark-color-hover: #1a1e21;
}

.btn-primary { color: var(--white-color); background-color: var(--primary-color) !important }
.btn-secondary { color: var(--white-color); background-color: var(--secondary-color) !important }
.btn-success { color: var(--white-color); background-color: var(--success-color) !important }
.btn-danger { color: var(--white-color); background-color: var(--danger-color) !important }
.btn-warning { color: var(--white-color); background-color: var(--warning-color) !important }
.btn-info { color: var(--white-color); background-color: var(--info-color) !important }
.btn-dark { color: var(--white-color); background-color: var(--dark-color) !important }
.btn-primary:hover { background-color: var(--primary-color-hover) !important }
.btn-secondary:hover { background-color: var(--secondary-color-hover) !important }
.btn-success:hover { background-color: var(--success-color-hover) !important }
.btn-danger:hover { background-color: var(--danger-color-hover) !important }
.btn-warning:hover { background-color: var(--warning-color-hover) !important }
.btn-info:hover { background-color: var(--info-color-hover) !important }
.btn-dark:hover { background-color: var(--dark-color-hover) !important }
.btn-outline-primary { color: var(--primary-color); border-color: var(--primary-color) !important }
.btn-outline-primary:hover { color: var(--white-color); background-color: var(--primary-color) !important }

/* Text Classes */
.text-primary { color: var(--primary-color) !important }

/* Background Classes */
.bg-primary { background-color: var(--primary-color) !important }
.bg-secondary { background-color: var(--secondary-color) !important }
.bg-success { background-color: var(--success-color) !important }
.bg-danger { background-color: var(--danger-color) !important }
.bg-warning { background-color: var(--warning-color) !important }
.bg-info { background-color: var(--info-color) !important }
.bg-dark { background-color: var(--dark-color) !important }
.bg-white { background-color: var(--white-color) !important }

.border-primary { border-color: var(--primary-color) !important}
            .sidebar {
                width: 200px;
                background-color: #343a40;
                border-right: 1px solid #1a1e21;
                height: 100vh;
            }