.set-creation {
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.set-creation h2 {
    font-size: 24px;
    color: #333;
}

.description {
    width: 50%;
}

.auto-resize-input {
    resize: none;
    overflow-y: hidden;
}