body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 16px;
    position: relative;
    cursor: pointer;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#previewImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.custom-button {
    background-color: #cccc00;
    color: black;
    cursor: pointer;
}



/* CSS cho pop-up */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    align-items: center;

    flex-direction: column;
    text-align: center;
}

.popup img {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 5px;
}





/* CSS cho overlay (ph? màn hình n?n) */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.atag{
    display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
}


button:hover {
    background-color: #45a049;
}

/* Ẩn input radio mặc định */
input[type="radio"] {
    display: none;
}

/* Thiết lập hình ảnh không chọn */
label img {
    opacity: 0.5;
}


input[type="radio"]:checked + label img {
    opacity: 1;
}
