body {
    margin: 0;
}

.container {
    width: 60%;
}

.bg-white {
    background-color: white;
}

.set-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.set-info {
    align-self: start;
    width: 40%;
}

.set-info p {
    font-size: 15px;
}

.set-info-link {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.set-control-group {
    width: 60%;
}

.set-control-item{
    display: flex;
    color: #333;
    text-decoration: none;
    background-color: #f6f6f6;
    border-radius: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 12px;
    border: 3px solid transparent;
}

.set-control-item:hover {
    border-color:#a85cf9;
}

.set-control-item img{
    width: 50px;
    height: 50px;
    filter: invert(39%) sepia(70%) saturate(1008%) hue-rotate(236deg) brightness(98%) contrast(98%);
}

.set-control-item h4{
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.set-control-item p{
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.set-control-item a:hover {
    color: #007bff;
}

.set-group {
    min-height: 36px;
}
.set-item {
    flex: 1;
    font-size: 18px;
}

.divider {
    position: relative;
    align-self: stretch;
}

.divider::before {
    content: "";
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 0;
    right: 0;
    background-color: #a85cf9;
    width: 1px;
    margin: auto;
}